*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
div,
span {
  max-height: 5000em;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
  position: relative;
}
img {
  border: none;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #34425a;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #34425a;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #4b6373;
}
h1 {
  font-weight: 600;
  font-size: 35px;
}
h2 {
  font-weight: 600;
  font-size: 24px;
}
@media (max-width: 1600px) {
  h2 {
    font-size: 22px;
  }
}
@media (max-width: 1366px) {
  h2 {
    font-size: 20px;
  }
}
h3 {
  font-weight: normal;
  font-size: 18px;
}
h4 {
  font-weight: 700;
  font-size: 14px;
}
strong,
b {
  font-weight: 700;
}
a {
  color: inherit;
  text-decoration: none;
}
.btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 8px 15px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  background-color: #328bc7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}
@media (max-width: 1600px) {
  .btn {
    padding: 7px 14px;
    font-size: 15px;
  }
}
@media (max-width: 1366px) {
  .btn {
    padding: 6px 13px;
    font-size: 14px;
  }
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: #4397d0;
}
.btn:active {
  background-color: #2d7db3;
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}
.btn:not(.btn--square) i {
  line-height: 1;
  font-size: 18px;
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;
}
.btn i.i-refresh {
  font-size: 20px;
}
.btn i.i-filter {
  font-size: 16px;
  top: 2px;
}
.btn i.i-bubble {
  font-size: 20px;
}
.btn i.i-question {
  font-size: 20px;
}
.btn--grey {
  background-color: #4a5a73;
}
.btn--grey:hover {
  background-color: #546683;
}
.btn--grey:active {
  background-color: #4a5a73;
}
.btn--white {
  background-color: #f0f4f7;
  color: #328bc7;
}
.btn--white:hover {
  background-color: #dfe8ee;
}
.btn--white:active {
  background-color: #dfe8ee;
}
.btn--square {
  width: 36px;
  height: 36px;
  line-height: 36px;
  padding: 0;
}
@media (max-width: 1600px) {
  .btn--square {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 1366px) {
  .btn--square {
    width: 30px;
    height: 30px;
  }
}
.btn--square i {
  line-height: 36px;
}
@media (max-width: 1600px) {
  .btn--square i {
    line-height: 30px;
  }
}
@media (max-width: 1366px) {
  .btn--square i {
    line-height: 30px;
    top: -1px;
  }
}
@font-face {
  font-family: 'amz';
  src: url('../fonts/amz.ttf?dsksrc') format('truetype'), url('../fonts/amz.woff?dsksrc') format('woff'), url('../fonts/amz.svg?dsksrc#amz') format('svg');
  font-weight: normal;
  font-style: normal;
}
i {
  font-family: 'amz' !important;
  display: inline-block;
  position: relative;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.i-right:before {
  content: "\e900";
}
.i-gear:before {
  content: "\e901";
}
.i-filter:before {
  content: "\e902";
}
.i-trend:before {
  content: "\e903";
}
.i-plus:before {
  content: "\e904";
}
.i-close:before {
  content: "\e905";
}
.i-facebook:before {
  content: "\e906";
}
.i-twitter:before {
  content: "\e907";
}
.i-vk:before {
  content: "\e908";
}
.i-bubble:before {
  content: "\e909";
}
.i-shield:before {
  content: "\e90a";
}
.i-refresh:before {
  content: "\e90b";
}
.i-lock:before {
  content: "\e90c";
}
.i-restore:before {
  content: "\e90d";
}
.i-devices:before {
  content: "\e90e";
}
.i-question:before {
  content: "\e90f";
}
.i-plus-round:before {
  content: "\e910";
}
html,
body {
  height: 100%;
  position: relative;
}
.l-appwrap {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.l-maintable {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  flex: 1 1 0%;
}
.maintable-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.maintable {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  flex: 1 1 0;
}
.l-header {
  background-color: #34425a;
  color: #FFF;
  padding: 16px 15px 16px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1600px) {
  .l-header {
    padding: 13px 15px 13px 40px;
  }
}
@media (max-width: 1366px) {
  .l-header {
    padding: 10px 15px 10px 40px;
  }
}
.l-header .btn {
  margin-left: 15px;
}
.totals {
  display: flex;
  margin-left: auto;
}
.totals-item {
  position: relative;
  text-align: center;
  padding: 0 20px;
}
.totals-item:after {
  content: '';
  width: 1px;
  height: 30px;
  background-color: #acc2d3;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 17px;
}
.totals-item:first-child {
  padding: 0 40px;
}
.totals-item:last-child:after {
  display: none;
}
.totals-item__title {
  font-size: 13px;
  color: #acc2d3;
  margin-bottom: 2px;
}
.totals-item__val {
  font-size: 28px;
  line-height: 1;
}
@media (max-width: 1600px) {
  .totals-item__val {
    font-size: 24px;
  }
}
@media (max-width: 1366px) {
  .totals-item__val {
    font-size: 20px;
  }
}
.l-footer {
  padding-left: 15px;
  background-color: #34425a;
  color: #FFF;
  min-height: 54px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 1600px) {
  .l-footer {
    min-height: 50px;
  }
}
@media (max-width: 1366px) {
  .l-footer {
    min-height: 46px;
  }
}
.l-footer .btn {
  margin-right: 15px;
}
.social {
  margin-left: auto;
  display: flex;
  margin-right: 15px;
}
.social .btn {
  font-size: 20px;
  margin-right: 5px;
}
.buy-panel {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffa23c;
  text-align: center;
  padding: 10px 40px;
  transition: all 0.3s ease;
}
@media (max-width: 1600px) {
  .buy-panel {
    padding: 8px 35px;
  }
}
@media (max-width: 1366px) {
  .buy-panel {
    padding: 6px 30px;
  }
}
.buy-panel:hover {
  background-color: #ffae56;
}
.buy-panel:active {
  background-color: #ff9622;
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}
.buy-panel__title {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
}
.buy-panel__descr {
  font-size: 11px;
  letter-spacing: 0.06em;
}
.maintable-header {
  background-color: #f1f6ff;
  color: #757575;
  font-weight: bold;
  border-bottom: 1px solid #dddddd;
  height: 40px;
}
.maintable-header .col {
  padding: 8px 2px;
  line-height: 1.4em;
  cursor: pointer;
}
.maintable__row {
  background-color: #FFF;
  height: 34px;
}
@media (max-width: 1600px) {
  .maintable__row {
    height: 32px;
  }
}
@media (max-width: 1366px) {
  .maintable__row {
    height: 30px;
  }
}
.maintable__row:nth-child(2n+1) {
  background-color: #f5f5f5;
}
.maintable__row:hover {
  background-color: #fce3ba;
}
.maintable__row .col {
  padding: 4px 2px;
}
.maintable__row a {
  color: #337cb8;
  transition: all 0.3s ease;
}
.maintable__row a:hover {
  color: #3f99e3;
}
.maintable__row small {
  font-size: 11px;
}
@media (max-width: 1600px) {
  .maintable__row small {
    font-size: 10px;
  }
}
@media (max-width: 1366px) {
  .maintable__row small {
    font-size: 9px;
  }
}
.maintable__row .grey {
  color: #b5b5b5;
}
.maintable__row .ali-search {
  display: inline-block;
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(208, 195, 173, 0.8);
  border-radius: 5px;
  padding: 6px 4px;
  height: 26px;
  width: 33px;
  text-align: center;
}
.maintable__row .ali-search span {
  display: block;
  position: absolute;
  height: 26px;
  right: 0;
  top: 0;
  line-height: 26px;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(208, 195, 173, 0.8);
  border-radius: 5px;
  padding: 0 40px 0 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
  transform: scaleX(0);
  transform-origin: right center;
}
.maintable__row .ali-search img {
  position: relative;
  z-index: 3;
  width: 25px;
  height: 13px;
  background-color: #fff;
}
.maintable__row .ali-search:hover span {
  opacity: 1;
  pointer-events: all;
  transform: scaleX(1);
}
.maintable__row .row-close {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 22px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(208, 195, 173, 0.8);
  font-size: 9px;
  color: #de5453;
  transition: all 0.2s ease;
  text-align: center;
}
.maintable__row .row-close:hover {
  color: #FFF;
  background-color: #de5453;
}
.maintable-header,
.maintable__row {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}
.maintable-header .col,
.maintable__row .col {
  white-space: nowrap;
  font-size: 12px;
}
@media (max-width: 1600px) {
  .maintable-header .col,
  .maintable__row .col {
    font-size: 11px;
  }
}
@media (max-width: 1366px) {
  .maintable-header .col,
  .maintable__row .col {
    font-size: 10px;
  }
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.col-n {
  width: 25%;
  text-align: center;
}
.col-oversize {
  width: 50%;
}
.col-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  width: 310%;
}
.col-brand {
  font-size: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.col-price {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 85%;
}
.col-fees {
  text-align: left;
  width: 60%;
}
.col-net {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 60%;
}
.col-mi {
  width: 60%;
  text-align: left;
}
.col-lqs {
  text-align: center;
  width: 35%;
}
.col-category {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 110%;
}
.col-sellers {
  width: 40%;
  text-align: center;
}
.col-rank {
  width: 75%;
  text-align: center;
}
.col-sales {
  width: 60%;
  text-align: center;
}
.col-revenue {
  width: 110%;
  text-align: center;
}
.col-reviews {
  width: 50%;
  text-align: center;
}
.col-rpr {
  width: 60%;
}
.col-date {
  width: 75%;
  text-align: center;
}
.col-rating {
  width: 50%;
  text-align: center;
}
.col-variants {
  width: 50%;
  text-align: center;
}
.col-weight {
  width: 50%;
}
.col-seller {
  width: 50%;
  text-align: center;
}
.col-ali {
  flex-shrink: 0;
  width: 40px;
}
.col-close {
  text-align: center;
  flex-shrink: 0;
  width: 30px;
}
.agmodal {
  display: none;
  vertical-align: middle;
  position: relative;
  max-width: 100%;
  text-align: left;
  margin: 50px 0;
  transition: all 0.4s ease;
  transform-origin: center top;
  cursor: auto;
  will-change: opacity,tranform;
}
.agmodal--fade {
  opacity: 0;
}
.agmodal--slide {
  transform: translate3d(0, -500px, 0);
}
.agmodal--scale {
  transform: scale3d(0.9, 0.9, 0.9);
}
.agmodal--3d {
  transform: perspective(1000px) rotateX(45deg);
}
.agmodal--morph {
  transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.4s ease, width 0.4s ease;
  transform: translate3d(-400px, 0, 0) scale3d(1.4, 0.5, 1);
}
.agmodal--visible {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  opacity: 1;
}
.agmodal__wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -100;
  transition: all 0.4s ease;
  box-sizing: border-box;
  cursor: pointer;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  backface-visibility: hidden;
  text-align: center;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 1025px) {
  .agmodal__wrapper {
    display: none;
    transition: none;
  }
}
.agmodal__wrapper:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}
.agmodal__wrapper .agmodal {
  display: inline-block;
}
.agmodal__wrapper:focus {
  outline-width: 0;
}
.agmodal__wrapper--visible {
  display: block;
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  z-index: 9999;
}
html.agmodal--lock-test {
  overflow-y: hidden !important;
}
html.agmodal--lock body {
  overflow: hidden !important;
}
.modal {
  display: none;
  background: #fcfcfc;
  box-shadow: 0 5px 30px 10px rgba(23, 43, 64, 0.15);
  width: 400px;
  padding: 25px 35px 35px 35px;
  border-radius: 5px;
}
@media (max-width: 1600px) {
  .modal {
    padding: 20px 30px 30px 30px;
  }
}
@media (max-width: 1366px) {
  .modal {
    padding: 15px 25px 25px 25px;
  }
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5e0e8;
}
@media (max-width: 1600px) {
  .modal__header {
    padding-bottom: 13px;
  }
}
@media (max-width: 1366px) {
  .modal__header {
    padding-bottom: 10px;
  }
}
.modal__main {
  padding-top: 25px;
}
@media (max-width: 1600px) {
  .modal__main {
    padding-top: 23px;
  }
}
@media (max-width: 1366px) {
  .modal__main {
    padding-top: 20px;
  }
}
.modal__footer {
  background-color: #f0f4f7;
  margin: 30px -35px -35px -35px;
  padding: 20px 35px;
  border-radius: 0 0 5px 5px;
}
@media (max-width: 1600px) {
  .modal__footer {
    margin: 25px -30px -30px -30px;
    padding: 15px 30px;
  }
}
@media (max-width: 1366px) {
  .modal__footer {
    margin: 20px -20px -20px -20px;
    padding: 10px 25px;
  }
}
.form-options {
  display: flex;
  flex-wrap: wrap;
}
.form-options .grid-6 {
  width: 50%;
  padding-right: 15px;
}
.form-options__btn {
  width: 100%;
  text-align: right;
  margin-top: 100px;
}
.form-options__btn .btn {
  padding-left: 40px;
  padding-right: 40px;
}
.modal--filter {
  width: 770px;
}
.form-filter {
  display: flex;
  flex-wrap: wrap;
}
.form-filter .grid-6 {
  width: 50%;
  padding-right: 15px;
}
.form-filter__titles {
  margin-left: 140px;
  margin-bottom: 15px;
}
.form-filter__titles span {
  margin-right: 70px;
}
.form-filter .input-group input {
  width: 80px;
}
.form-filter .input-group figure {
  margin: 0 10px;
}
.form-filter__checkboxes {
  margin-top: 57px;
  padding-left: 15px;
}
.form-filter__btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 140px;
}
.form-filter__btn .btn {
  padding-left: 40px;
  padding-right: 40px;
}
.form-filter__clear {
  font-size: 16px;
  color: #328bc7;
  border-bottom: 1px dotted #328bc7;
  margin-right: 25px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.form-filter__clear:hover {
  color: #6cadda;
  border-bottom: 1px dotted #6cadda;
}
.modal--login {
  width: 670px;
}
@media (max-width: 1600px) {
  .modal--login {
    width: 630px;
  }
}
@media (max-width: 1366px) {
  .modal--login {
    width: 610px;
  }
}
.modal--login .modal__main {
  display: flex;
  align-items: center;
}
.modal--login .grid-6 {
  width: 50%;
  padding: 0 25px;
}
@media (max-width: 1600px) {
  .modal--login .grid-6 {
    padding: 0 20px;
  }
}
@media (max-width: 1366px) {
  .modal--login .grid-6 {
    padding: 0 15px;
  }
}
.modal--login .grid-6:first-child {
  padding-right: 55px;
  border-right: 1px solid #d5e0e8;
}
.modal--login .grid-6:last-child {
  text-align: center;
}
.modal--login .grid-6:last-child h3 {
  margin-bottom: 20px;
}
.form-login__label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}
.form-login input[type="email"],
.form-login input[type="password"] {
  padding: 10px 15px;
  width: 100%;
}
.form-login input[type="email"] {
  margin-bottom: 20px;
}
.form-login .checkbox-style {
  margin-top: 10px;
  margin-bottom: 30px;
}
.form-login .btn {
  padding-left: 40px;
  padding-right: 40px;
}
.login-icons {
  display: flex;
  justify-content: space-between;
}
.login-icons .icon-block {
  margin-right: 20px;
}
.login-icons .icon-block:last-child {
  margin-right: 0;
}
.login-icons .icon-block span {
  font-size: 12px;
}
@media (max-width: 1600px) {
  .login-icons .icon-block span {
    font-size: 11px;
  }
}
@media (max-width: 1366px) {
  .login-icons .icon-block span {
    font-size: 10px;
  }
}
.panel-link {
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(23, 43, 64, 0.1);
  transition: all 0.4s ease;
}
.panel-link:hover {
  box-shadow: 0 2px 10px 0 rgba(23, 43, 64, 0.3);
}
.panel-link img {
  display: block;
}
.icon-block {
  display: flex;
  align-items: center;
}
.icon-block i {
  font-size: 32px;
  margin-right: 10px;
}
.trial-wrapper {
  position: absolute;
  background: url("../img/blur.jpg") center center no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -100;
  transition: all 0.4s ease;
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  backface-visibility: hidden;
  text-align: center;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.trial-wrapper:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}
.trial-wrapper:focus {
  outline-width: 0;
}
.trial-wrapper--visible {
  display: block;
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  z-index: 9999;
}
.trial-wrapper--visible .trial-modal {
  opacity: 1;
}
.trial-wrapper .trial-close {
  position: absolute;
  top: 25px;
  right: 25px;
}
.trial-wrapper .trial-logo {
  position: absolute;
  left: 25px;
  top: 25px;
}
.trial-modal {
  display: inline-block;
  vertical-align: middle;
  width: 820px;
  position: relative;
  margin: 20px 0 80px 0;
  background: #fcfcfc;
  border-radius: 5px;
  padding: 25px 35px 35px 35px;
  box-shadow: 0 5px 30px 10px rgba(23, 43, 64, 0.15);
  max-width: 100%;
  text-align: left;
  transition: all 0.4s ease;
  transform-origin: center top;
  cursor: auto;
  will-change: opacity,tranform;
}
@media (max-width: 1600px) {
  .trial-modal {
    padding: 20px 30px 30px 30px;
  }
}
@media (max-width: 1366px) {
  .trial-modal {
    padding: 15px 25px 25px 25px;
  }
}
.trial-modal .modal__header {
  border-bottom: none;
}
.trial-modal h2 {
  width: 100%;
  text-align: center;
}
.trial-modal__alert {
  background-color: #fad9d9;
  margin-left: -35px;
  margin-right: -35px;
  font-size: 18px;
  padding: 13px;
  text-align: center;
}
@media (max-width: 1600px) {
  .trial-modal__alert {
    padding: 10px;
    font-size: 16px;
    margin-left: -30px;
    margin-right: -30px;
  }
}
@media (max-width: 1366px) {
  .trial-modal__alert {
    padding: 8px;
    font-size: 14px;
    margin-left: -25px;
    margin-right: -25px;
  }
}
.trial-modal__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px 0;
}
@media (max-width: 1600px) {
  .trial-modal__main {
    padding: 20px 0;
  }
}
@media (max-width: 1366px) {
  .trial-modal__main {
    padding: 15px 0 5px 0;
  }
}
.trial-modal .modal__footer {
  margin-top: 0;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 1600px) {
  .trial-modal .modal__footer {
    font-size: 16px;
  }
}
@media (max-width: 1366px) {
  .trial-modal .modal__footer {
    font-size: 14px;
  }
}
.trial-modal__extend {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -70px;
  width: 100%;
  left: 0;
  color: #FFF;
}
@media (max-width: 1600px) {
  .trial-modal__extend {
    bottom: -60px;
  }
}
@media (max-width: 1366px) {
  .trial-modal__extend {
    bottom: -50px;
  }
}
.trial-modal__extend span {
  font-size: 18px;
  margin-right: 20px;
}
@media (max-width: 1600px) {
  .trial-modal__extend span {
    font-size: 16px;
  }
}
@media (max-width: 1366px) {
  .trial-modal__extend span {
    font-size: 14px;
  }
}
.trial-info {
  flex-shrink: 0;
  width: 230px;
  padding-right: 35px;
  border-right: 1px solid #d5e0e8;
}
.trial-info__title {
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
}
@media (max-width: 1600px) {
  .trial-info__title {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
@media (max-width: 1366px) {
  .trial-info__title {
    margin-bottom: 10px;
  }
}
.trial-info__price {
  display: block;
  font-size: 24px;
  font-weight: 600;
}
.trial-info__icons {
  margin-top: 100px;
}
@media (max-width: 1600px) {
  .trial-info__icons {
    margin-top: 95px;
  }
}
@media (max-width: 1366px) {
  .trial-info__icons {
    margin-top: 80px;
  }
}
.trial-info .icon-block {
  margin-bottom: 15px;
}
.trial-info .icon-block:last-child {
  margin-bottom: 0;
}
.trial-info .icon-block i {
  font-size: 30px;
}
.payments-info {
  padding-left: 35px;
}
.payments-info__title {
  display: block;
  font-size: 18px;
  margin-bottom: 30px;
}
@media (max-width: 1600px) {
  .payments-info__title {
    font-size: 16px;
    margin-bottom: 25px;
  }
}
@media (max-width: 1366px) {
  .payments-info__title {
    margin-bottom: 15px;
  }
}
.payments-row {
  display: flex;
}
.payments {
  display: inline-block;
  width: 135px;
}
.payments:first-child {
  width: 240px;
}
.payments h4 {
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media (max-width: 1600px) {
  .payments h4 {
    margin-bottom: 10px;
  }
}
@media (max-width: 1366px) {
  .payments h4 {
    margin-bottom: 5px;
  }
}
.payments .panel-link {
  display: inline-block;
  margin: 0 20px 15px 0;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.3;
  -webkit-appearance: none;
  border: 1px solid #cccccc;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 3px;
  overflow: visible;
  transition: all 0.3s ease;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid #328bc7;
  outline: none;
}
.checkbox-style {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.checkbox-style input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.checkbox-style input:checked + span:after {
  opacity: 1;
}
.checkbox-style input:focus + span:before {
  background-color: #a9cfe9;
}
.checkbox-style span {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}
.checkbox-style span:before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #eaeef2;
  border-radius: 4px;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  position: absolute;
  left: 0;
  top: 3px;
  z-index: 1;
  transition: all 0.3s ease;
}
.checkbox-style span:after {
  content: "\e904";
  font-family: 'amz' !important;
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 9px;
  text-align: center;
  background-color: #328bc7;
  border-radius: 4px;
  color: #FFF;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 3px;
  transition: all 0.3s ease;
  opacity: 0;
}
.checkbox-style span:hover:before {
  background-color: #a9cfe9;
}
.input-group {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}
.input-group__label {
  font-weight: bold;
  align-items: center;
  width: 140px;
  flex-shrink: 0;
  text-align: right;
  padding-right: 25px;
}

/*# sourceMappingURL=main.css.map */